.shang{
    width: 100%;height: 40px;
    display: flex;font-size: 12px;
    border:1px solid #f4f5f6;
    li{
        flex: 1;color: #969696;
        line-height: 40px;text-align: center;
        &:nth-of-type(1){
            border-bottom: 2px solid #000;color: #000;
        }
    }
}
.geng{
    width: 100%;line-height: 40px;text-align: center;
    font-size: 12px;color: #92969c;
}
.list2{
        width: 90%;margin:0 auto;
        display: flex;
        margin-top: 5px;
        .img{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .fe{
            flex: 1;
            margin-left: 10px;
            p{
                line-height: 18px;color: #000;margin-top:5px; font-size: 12px;margin-left: 0px;
            }
            .red{
                color: #f66;font-size: 12px;
                span{
                    color:#a0a4a9;text-decoration: line-through;
                    margin-left: 5px;
                }
            }
        }
    }